In [1]:
#pandes doc https://pandas.pydata.org/docs/reference/index.html
import pandas as pd
#shift+tab  استعراض الملف للدلة

# shift+tab for docs for fuction

# Read a tabular data file

In [2]:
#read data form table
order=pd.read_table("http://bit.ly/chiporders")

In [3]:
#print order & print 5 row form data
order
order.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [4]:
#use fun sep for splet data  
#use fun header for change the header like her i change the heder in none vlaue
#use fun names for input name for you header
#use fun skiprows=None or skipfooter=None for del note 
user_co=['user_id', 'age', 'gnder','occupation','zip_code']
user=pd.read_table("http://bit.ly/movieusers",sep="|",header=None,names=user_co)

# Select a pandas Series from a DataFrame,create and add column

In [5]:
ufo=pd.read_csv("http://bit.ly/uforeports")
ufo

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [6]:
type(ufo)

pandas.core.frame.DataFrame

In [7]:
#use var["name column"] for print one column
#short cut var.namecolumn   note not use it in var have space
#note 2 not use fun in var like name in var
ufo["State"] 
ufo.State
#use fun usecols for show columns u needs
movies=pd.read_csv("http://bit.ly/imdbratings",usecols=[0:4])
movies

SyntaxError: invalid syntax (<ipython-input-7-e01eed400599>, line 7)

In [ ]:
#create new column
#use var["new column"]= value need add like add two var in one column
#note use var["name column"] for use add not use .
ufo['loc']=ufo.City+','+ufo.State
ufo

# some pandas commands end with parentheses

In [ ]:
movies=pd.read_csv("http://bit.ly/imdbratings")

In [ ]:
#use fun describe() in mean and std and cout ets........ 
movies.describe()

In [ ]:
#USE dtypes for types of value movies.dtype
#USE shapes for count column and row movies.shape
type(movies)

# rename columns in a pandas DataFrame

In [ ]:
ufo=pd.read_csv("http://bit.ly/uforeports")
ufo

#for rename use fun rename() var.rename(column={old name , new name})
ufo.rename(columns={'City':'city'})
#use anther way to change name for columnn, create list like 
#list1=["new_name1","new_name2","new_name.3"] and wite you list= ufo.columns
ufo_cl=["city","colors_Reported","shape_Reported","tate","time"]
ufo.columns= ufo_cl
#use anther way to change name for columnn,create list like 
#list1=["new_name1","new_name2","new_name.3"] ,
#wite in pd.read_csv("path_csv",names=youlist,header=0)
ufo_cl=["city","colorsReported","shapeReported","state","time"]
ufo=pd.read_csv("http://bit.ly/uforeports",names=ufo_clo,header=0)
ufo

# remove columns from a pandas DataFrame

In [ ]:
ufo=pd.read_csv("http://bit.ly/uforeports")
ufo

In [ ]:
#use drop fun for drop cplumns or row for drop column use axis=1 , row axis =0
# for drop 1 col or ro use drop('name') and multye use drop(["name1",name2],inplace=True)
ufo.drop('Colors Reported', axis=1,inplace=True)
ufo.drop(['Time','Colors Reported'], axis=1,inplace=True)
ufo.drop(0,axis=0,inplace=True)
ufo.drop([0,1],axis=0,inplace=True)

# sort a pandas DataFrame or a Series

In [ ]:
movies=pd.read_csv("http://bit.ly/imdbratings")

In [ ]:
#use sort value for scendings or adscendings
movies.sort_values("title")
movies.sort_values(["title","star_rating"])

# Filter rows of a pandas DataFrame by column value

In [ ]:
#use var.loc for filter rows and column in pandans
#var.loc[condtion ,row or columns] or we can use var.[var.col or row condtion]
movies=pd.read_csv("http://bit.ly/imdbratings")
movies[movies.duration >=200]
movies.loc[movies.duration >=200,"genre"]

# I apply multiple filter criteria to a pandas DataFrame

In [ ]:
#for multiple filter use () bewteen condection and use & and , | or
#var[(var.name cond1)& or | (var.name cond1)]
movies[(movies.duration >=200) & (movies.genre >="Drama" )]
movies[(movies.duration >=200) | (movies.genre >="Drama") | (movies.genre >="Action" )]
movies.genre.isin(["Drama","Action"])

# "axis" parameter in pandas

In [ ]:
movies=pd.read_csv("http://bit.ly/imdbratings")

In [ ]:
movies.drop(["actors_list"],axis=1).head()
movies.mean(axis=1) #or movies.mean("columns") man for rows #mean for cloumns
movies.mean(axis=0) #or movies.mean("index")or movies.mean("rows") #man for rows #man for rows

# Use string methods in pandas

In [ ]:
order=pd.read_table("http://bit.ly/chiporders")
order.head()

In [ ]:
#if you need str fun use in pandas var.name.str.namefun()
# if need multyp fun in pandas var.name.str.namefun.str.namefun2 , if you need more fun vist the
#websae :https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.capitalize.html?highlight=str
order.item_name.str.upper()
order.item_name.str.upper().str.isupper()

In [ ]:
# use change type for change int str use math
#for now type of data use fun dtypes() var.dtypes()
# for change the type of data use var.namevar.astype(new types)
#for use multp fn use var.namecolumn.str.name.asdtype(new types))
order.dtypes
order.order_id.astype(float)
order.item_price.str.replace("$","").astype(float)

# "groupby" in pandas

In [ ]:
drink=pd.read_csv("http://bit.ly/drinksbycountry")

In [ ]:
#use gropby for dived the data by gruop var.groupby("namecolumn").mean or min or max 
#if need one value use var.groupby("namecolumn").namecloumn2.mean or min or max 
drink.head()
drink.groupby("continent").wine_servings.mean()
drink.groupby("continent").max()
#just africa cuontry
drink[drink.continent=='Africa']
#use multp maen and min and max and sd use agg var.groupby("namecolumn").agg(['mean','min' , 'max'])
drink.groupby("continent").wine_servings.agg(["mean","min","max"])

In [ ]:
#for plot data use %matplotlib inline 
#and add in data like var.groupby("namecolumn").mean or min or max .plot(kind=bar, pie,line )
%matplotlib inline

In [ ]:
drik.groupby("cotiet").mea().plot(kid='bar')

# Explore a pandas Series

In [ ]:
movies=pd.read_csv("http://bit.ly/imdbratings")

In [ ]:
movies.head()

In [ ]:
movies.dtypes
movies.genre.describe

In [ ]:
#use describe for data not number show count ,unique ,top ,freg
# var. namecolumns.describe() and can show one of describes use
#var. namecolumns.one of describe() 
movies.genre.describe()
movies.genre.unique()
movies.genre.nunique()
#and you can cross to column in one table use pd.crosstab(namecolumns1,movies.namecolumns)
pd.crosstab(movies.genre,movies.content_rating)

In [ ]:

%matplotlib inline

In [ ]:
movies.duration.plot(kind="hist")

# handle missing values in pandas

In [ ]:
ufo=pd.read_csv("http://bit.ly/uforeports")
ufo

In [ ]:
ufo.isnull().sum() #chack value is null true or notnull false 
ufo.notnull().sum()  #chack value is null false or notnull ture

In [ ]:
ufo[ufo.City.isnull()]# show value is null
ufo.dropna(how="any").count() #drop null value any value is null
ufo.dropna(how="all").count()#drop null value all value is null
ufo.dropna(subset=["City","Shape Reported"],how="any")
ufo["Shape Reported"].value_counts(dropna=True)

# know about the pandas index? (Part 1)

In [ ]:
drink=pd.read_csv("http://bit.ly/drinksbycountry")

In [ ]:
drink.head()

In [ ]:
drink[drink.continent=="South America"] #filter data to south america countries

In [ ]:
drink.set_index("country",inplace=True)#change the index
drink.head()

In [ ]:
drink.index #show the index

In [ ]:
drink.loc["USA","beer_servings"] # show spacfak value var,loc[index,column]

In [ ]:
drink.index.name=None # clean the index name use name=None
drink.head()

# know about the pandas index? (Part 2)

In [ ]:
drink.index

In [ ]:
drink.continent.value_counts().sort_index()#sort the index

In [ ]:
#create new series var=pd.Series([value1,value2],index=["index1","index2"],name='namecolmn')
people=pd.Series([3000000,850000],index=["Albania","Algeria"],name='PP')
people

In [ ]:
drink.beer_servings*people#use some math

In [ ]:
pd.concat([drink,people],axis=1).head()#macth new data to data old data
#pd.concat([orgin data,new var data],axis=1).head()

# select multiple rows and columns from a pandas DataFrame

In [ ]:
ufo=pd.read_csv("http://bit.ly/uforeports")
ufo

In [ ]:
#loc for filtering and select lebal(r,c) loc[r,c]
ufo.loc[0,"City"]
ufo.loc[[0,1,2],["City","State"]]
ufo.loc[:,'State']# can use list
ufo.loc[0:3,"City":"State"]#list of select var.loc[r:,c:]

In [ ]:
#use loc for condecion var.loc[var.cond, cond2 or column]
ufo.loc[ufo.City=="Willingboro","State"]

In [ ]:
#iloc for filtering and select int(r,c) like use range in python iloc[range r, range c] li
ufo.iloc[0:4,0:3] 
ufo.iloc[0:3,:]

In [ ]:
# use in loc or iloc
#ix use for mix value label and number
ufo.ix[0:2,0:2]#use same number in end

# use the "inplace" parameter in pandas

In [ ]:
#use inplace=True when and use operation and facet anthoer operation like in drop or change index you need use inplace
#not use inplace you facect code line like
#var.drop("city"axis=1) if go to anther line code is not drop column 
# and if use inplace in code var.drop("city",axis=1,inplace=True) drop will work

# work with dates and times in pandas

In [ ]:
ufo=pd.read_csv("http://bit.ly/uforeports")
ufo

In [ ]:
ufo.Time.str.slice(-5,-3).astype("int")

In [ ]:
#chage str to datatime var["col"]=pd.datetime(var.clo)
ufo["Time"]=pd.datetime(ufo.Time)

In [ ]:
data['Published '] = pd.to_datetime(data.Published)

In [ ]:
ufo.Time.dt.week_name 
ufo.Time.dt.year
# have more in doc find dt

In [ ]:
#can use condtion
ta=pd.datetime("1/1/1999")
ufo[ufo["time"]>ta]

# create dummy variables in pandas

In [ ]:
user_co=['user_id', 'age', 'gnder','occupation','zip_code']
user=pd.read_table("http://bit.ly/movieusers",sep="|",header=None,names=user_co)

In [ ]:
user.head()

In [ ]:
#for create dummy variables you use pd.get_dummies(va,column=["col1","col2"]drop_first=True)  
m=pd.get_dummies(user.gnder,drop_first=True)

In [ ]:
#دك البيانات من الافقين
data=pd.concat([df1,df2], axis="index")

In [ ]:
pd.concat([user,m], axis=1)

# find and remove duplicate rows in pandas

In [ ]:
user_co=['user_id', 'age', 'gnder','occupation','zip_code']
user=pd.read_table("http://bit.ly/movieusers",sep="|",header=None,names=user_co)

In [ ]:
user.set_index('user_id',inplace=True)

In [ ]:
#Find duplicated data var.loc[vr.col.duplicated(),:]
user.loc[user.zip_code.duplicated(),:]
#for dorp dup use var.drop_duplicates(subset=["col1","col2"])
user.drop_duplicates(subset=["age","zip_code"])

# avoid a SettingWithCopyWarning in pandas

In [ ]:
movies=pd.read_csv("http://bit.ly/imdbratings")

In [ ]:
#for find and fix null value
movies[movies.content_rating.isnull()]

In [ ]:
movies.content_rating.value_counts()

In [ ]:
import numpy as np

In [ ]:
#for fix value
movies.loc[movies.content_rating=="NOT RATED","content_rating"]np.nan

In [ ]:
# to fix copywarning use fun copy to say this copy form org data
top=movies.loc[movies.duration >= 140,:].copy()

In [ ]:
top.loc[0,'duration']=150

In [ ]:
top

# change display options in pandas

In [ ]:
# for change option can use
pd.get_option() 
pd.set_option()  # change option
pd.reset_option()
pd.describe_option('all') # find option you need 
#doc set_option https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.set_option.html

# create a pandas DataFrame from another object

In [ ]:
#create Dataframe df=pd.DataFrame({"column":value1,"column2":value2})
#create serise  pd.series([value,value],index[1,2],name="name series")
#save array is dataframe arr=np.array[1,2,3]  pd.Dataframe(name array)

# apply a function to a pandas Series or DataFrame

In [ ]:
user_co=['user_id', 'age', 'gnder','occupation','zip_code']
user=pd.read_table("http://bit.ly/movieusers",sep="|",header=None,names=user_co)

In [ ]:
# use apply to apply fun python in pandans and my fun python
user["sex"]=user.gnder.apply(len)

In [ ]:
user

In [ ]:
embarked=pd.get_dummies(t_train.Embarked,drop_first=True)
pd.concat([t_train,embarked], axis=1,inplace=True)