In [ ]:
import pandas as pd

#poke=pd.read_csv('pokemon_data.csv')
#print(poke)

pok=pd.read_csv('pokemon_data.csv')
print(poke)
#pok=pd.read_excel('pokemon_data.xlsx')
#print(pok.head(3))

#po=pd.read_csv('pokemon_data.txt',delimiter'\t')
#print(po)

In [ ]:
##read Headers
#poke.columns

##read each Headers
#print (poke[['Name','Type 1' , 'Type 2']])
##read each row
#print (poke.iloc[1:4])
#for index,row in poke.iterrows():
    #print(index,row)
   
#Read specifc location (r,c)
#print (poke.iloc[2,4])


#poke.loc[poke["Type 1"]=="Fire"]
#poke.describe()

#poke.sort_values(['Type 1','HP'] )

In [ ]:

poke.head(5)

143

In [10]:
#poke['Total']=poke['HP']+poke['Attack'] + poke['Defense']

#poke=poke.drop(columns=['Total'])
#poke['Total']=poke.iloc[:,4:10].sum(axis=1)
#poke.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [11]:
poke['Total']=poke.iloc[:,4:10].sum(axis=1)
poke.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [14]:
#poke.to_csv("modi fied.csv")
#poke.to_excel("modi fied.xlsx")
#poke.to_csv("modi fied.txt , index=False sp=\t")

In [5]:
#poke.loc[(poke["Type 1"]=="Grass") &(poke["Type 2"]=="Poison")]
#poke.loc[(poke["Type 1"]=="Grass") |(poke["Type 2"]=="Poison")] ## in pandas and = &   and or = |
#poke.loc[(poke["Type 1"]=="Grass") &(poke["Type 2"]=="Poison")& (poke["HP"]>70)] شرط اخر 
#new_poke=poke.loc[(poke["Type 1"]=="Grass") &(poke["Type 2"]=="Poison")& (poke["HP"]>70)]
#new_poke
#new_poke=poke.to_csv("modi fied1.csv")

#new_poke=new_poke.reset_index()
#new_poke

#new_poke=new_poke.reset_index(drop=True) ##لمسح القيم القديمة 
#new_poke

NameError: name 'poke' is not defined

In [1]:
#poke.loc[-poke["Name"].str.contains("Mega")] # اظهار كل القيم التي ليس فيها كلمة اوميقا  لي النفي نستخدم 
#import re
#poke.loc[poke["Type 1"].str.contains("Fire|Grass",regex=True)]
#poke.loc[poke["Name"].str.contains("pi[a-z]",regex=True)]# احضار كل البوكيمونات في اسمها pi 
#poke.loc[poke["Name"].str.contains("^pi[a-z]*",regex=True)]# احضار كل البوكيمونات في بداية اسمها  pi

NameError: name 'poke' is not defined

In [75]:



poke

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [7]:
pok

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [22]:
#pok['Total']=pok.iloc[:,4:10].sum(axis=1)
#pok.to_csv("modi fied1.csv")

#pok.loc[pok['Total'] >500, ['Generation','Legendary']]=['Test1','test2'] # شروط متعددة 
#pok
pok=pd.read_csv("modi fied1.csv")
pok#

,Unnamed: 0,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [39]:
#pok.columns(["Type 1"]).mean().sort_values('Attack', ascending = False) # استختدام المتوسط بشكل مجموعات وترتيبهم 
#pok.groupby(["Type 1"]).sum() #مجموع القيم على حسب type1
#pok.groupby(["Type 1"]).count()#عدد القيم على حسب type1
#pok['count']=1
#pok.groupby(["Type 1"]).count() ['count']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

In [64]:
#new_pok=pd.Dataframe(columns=pok.columns)
##for pok in pd.read_csv("modi fied.csv",chunksize=5):
   # result=pok.groupby(["Type 1"]).count
   # new_pok=pd.concat(([new_pok,results]))

SyntaxError: unexpected EOF while parsing (<ipython-input-64-658c7f933b94>, line 6)

In [11]:
import numpy as np
for a in np.arange(0.5,10):
    print(a)

0.5
1.5
2.5
3.5
4.5
5.5
6.5
7.5
8.5
9.5